*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(37, 170, 170);
    margin-top: 7%;
}

.watch{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#start{
    height: 40px;
    width: 80px;
    border: solid 2px black;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
}

#start:hover{
    background-color: rgb(0, 255, 234);
}

#stop{
    height: 40px;
    width: 80px;
    border: solid 2px black;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
}

#stop:hover{
    background-color: rgb(0, 255, 234);
}

#reset{
    height: 40px;
    width: 80px;
    border: solid 2px black;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
}

#reset:hover{
    background-color: rgb(0, 255, 234);
}

